---
layout: page
title: "Talks"
permalink: /talks/
author_profile: true
---

<ul class="talks-list">
{%- assign talks = site.talks | sort: "date" | reverse -%}
{% for t in talks %}
  <li>
    <span class="archive__item-title">
      <a href="{{ t.url | relative_url }}">{{ t.title }}</a>
    </span>
    {%- if t.venue or t.location or t.date -%}
      — 
      {%- if t.venue    %}{{ t.venue }}{% endif -%}
      {%- if t.location %}{% if t.venue %}, {% endif %}{{ t.location }}{% endif -%}
      {%- if t.date     %} ({{ t.date | date: "%b %Y" }}){% endif -%}
    {%- endif -%}

    {%- if t.slidesurl or t.paperurl -%}
      <br>
      {%- if t.slidesurl %}<a href="{{ t.slidesurl }}">slides</a>{% endif -%}
      {%- if t.paperurl  %}{% if t.slidesurl %} • {% endif %}<a href="{{ t.paperurl }}">paper</a>{% endif -%}
    {%- endif -%}
  </li>
{% endfor %}
</ul>
